/venv/
/Untitled 1.ods
/lstm_single_input
/all_files_isp1/
__pycache__/
.idea/dataSources.local.xml
.idea/dataSources.xml
.vscode
/isp1_results/
export.csv
test.csv
smp_files
config.py
test.json
units/
*\.log
tet.txt
/metrics
