
<body style = 'background-color:#111;color:gray;'>
<h2>Get Current Price Prediction</h2>
<div>Call price api by /current_prediction/{dataset}</div>
<h2>Get Previous Price Prediction</h2>
<div>Call price api by /previous_prediction/{dataset}</div>
<h2>Get Current Metrics</h2>
<div>Call metrics api by /metrics_api/{dataset}/{model}</div>
<h3>You can find All API end Points Below</h3>
<h1>Current Prediction</h1>
		<div class="card">
		<div class="card-body">
			<a href="/Api/datasets" class="card-link"><h4 class="card-title">Datasets</h4></a>
		</div>
		<div class="card-body">
			{% for i in datasets %}
				<a href="/current_prediction/{{i}}" class="card-link">{{i}}</a>
			{% endfor %}
			</div>
		</div>
<h1>Previous Prediction</h1>
		<div class="card">
		<div class="card-body">
			<a href="/Api/datasets" class="card-link"><h4 class="card-title">Datasets</h4></a>
		</div>
		<div class="card-body">
			{% for i in datasets %}
				<a href="/previous_prediction/{{i}}" class="card-link">{{i}}</a>
			{% endfor %}
			</div>
		</div>
<h1>Metrics API</h1>
<div class="card-body">
	<a href="/Api/models" class="card-link"><h4 class="card-title">Models</h4></a>
</div>
{% for i in datasets %}
		<div class="card">
		<div class="card-body">
				<a href="/metrics_api/{{i}}/all" class="card-link"><h4 class="card-title">{{i}}</h4></a>
		</div>
		<div class="card-body">
				{% for j in models %}
					<a href="/metrics_api/{{i}}/{{j}}" class="card-link">{{j}}</a>
				{% endfor %}
			</div>
		</div>
{% endfor %}
</body>