	<h1>Price API</h1>
			<div class="card">
			<div class="card-body">
				<a href="/Api/datasets" class="card-link"><h4 class="card-title">Datasets</h4></a>
			</div>
			<div class="card-body">
				{% for i in datasets %}
					<a href="/prices_api/{{i}}" class="card-link">{{i}}</a>
				{% endfor %}
				</div>
			</div>
	<h1>Metrics API</h1>
	{% for i in datasets %}
			<div class="card">
			<div class="card-body">
					<a href="/metrics_api/{{i}}/all" class="card-link"><h4 class="card-title">{{i}}</h4></a>
			</div>
			<div class="card-body">
					{% for j in models %}
						<a href="/metrics_api/{{i}}/{{j}}" class="card-link">{{j}}</a>
					{% endfor %}
				</div>
			</div>
	{% endfor %}

