<!Doctype html>
<html>
<head>
	<title>{{title}}</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<link rel="shortcut icon" href="{{url_for('static',filename = 'favicon.png')}}">
</head>

<body>
<nav class="nav justify-content-center fixed-top navbar-dark bg-dark">
	<a class="nav-link" href="/">Original Data</a>
	<a class="nav-link" href="Correlation">Correlation</a>
	<a class="nav-link" href="Linear">Linear</a>
	<a class="nav-link" href="KnnR">KnnR</a>
	<a class="nav-link" href="XgB">XgBoost</a>
	<a class="nav-link" href="Lstm">Lstm</a>
</nav>
<br><br>
{%block content%}
{%endblock%}
</body>
</html>