{% block charts %}

<div id="SMP">
	<script>
		var graph = {{ smp_json | safe }};
		Plotly.plot('SMP', graph, {});
	</script>
</div>

<div id="Res_Total">
	<script>
		var graph = {{ res_total_json | safe }};
		Plotly.plot('Res_Total', graph, {});
	</script>
</div>

<div id="load_total">
	<script>
		var graph = {{ load_total_json | safe }};
		Plotly.plot('load_total', graph, {});
	</script>
</div>

<div id="hydro_total">
	<script>
		var graph = {{ hydro_total_json | safe }};
		Plotly.plot('hydro_total', graph, {});
	</script>
</div>

<div id="sum_imports">
	<script>
		var graph = {{ sum_imports_json | safe }};
		Plotly.plot('sum_imports', graph, {});
	</script>
</div>

<div id="sum_exports">
	<script>
		var graph = {{ sum_exports_json | safe }};
		Plotly.plot('sum_exports', graph, {});
	</script>
</div>
{% endblock charts %}}
