	{% for i in df.columns %}
		<div class="col-xs-1-12">
			<div class="card">
				<div class="card-body">
					<h3 class="card-title">{{i}}</h3>
					<div  id='{{i}}'>
						<script>
							var graph = {{ get_json(df[i],df.index,i) | safe }};
							Plotly.plot('{{i}}', graph, {});
						</script>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}




