{% extends "model.jinja" %}
{% block more_data %}
<div id="hist_json" style="margin-top: -250px;"></div>
<script>
	var graph = {{ hist_json | safe }};
	Plotly.plot('hist_json', graph, {});
</script>
{% endblock more_data %}

