{% extends "base.jinja" %}
{% block content %}
	<h1>{{title}}</h1>
	<div id="chart_json"></div>
	<script>
		var graph = {{ chart_json | safe }};
		Plotly.plot('chart_json', graph, {});
	</script>

	<div id="test_json"></div>
	<script>
		var graph = {{ test_json | safe }};
		Plotly.plot('test_json', graph, {});
	</script>

	<h3>Train error : {{train_error}}</h3>
	<br>
	<h3>Validation error : {{validate_error}}</h3>
	<br>
	<h3>Test error : {{test_error}}</h3>
	{{ model }}
	{% block more_data %}
	{% endblock more_data %}
{% endblock content %}
