{% extends "base.jinja" %}
{% block content %}
	<h1>{{title}}</h1>
	<div id="chart_json"></div>
	<script>
		var graph = {{ chart_json | safe }};
		Plotly.plot('chart_json', graph, {});
	</script>

	<h3>Train Score : {{train_score}}</h3>
	<br>
	<h3>Validation Score : {{validation_score}}</h3>
	{% block more_data %}
	{% endblock more_data %}
{% endblock content %}
