<nav class="nav justify-content-center fixed-top navbar-dark bg-dark">
	<a class="nav-link" href="/">Original Data</a>
	<a class="nav-link" href="Correlation">Correlation</a>
	<a class="nav-link" href="Linear">Linear</a>
	<a class="nav-link" href="Knn">Knn</a>
	<a class="nav-link" href="XgB">XgBoost</a>
	<a class="nav-link" href="Lstm">Lstm</a>
	<a class="nav-link" href="Hybrid_Lstm">Hybrid Lstm</a>
</nav>