<nav class="nav justify-content-center fixed-top navbar-dark bg-dark">
	<a class="nav-link" href="/Dataset/{{dataset}}">Original Data</a>
	<a class="nav-link" href="/Correlation/{{dataset}}">Correlation</a>
	<a class="nav-link" href="/Linear/{{dataset}}">Linear</a>
	<a class="nav-link" href="/KnnModel/{{dataset}}">Knn</a>
	<a class="nav-link" href="/XgbModel/{{dataset}}">XgBoost</a>
	<a class="nav-link" href="/Lstm/{{dataset}}">Lstm</a>
	<a class="nav-link" href="/Hybrid/{{dataset}}">Hybrid</a>
	<a class="nav-link" href="/Api">Api docs</a>
<div class="form-group">
  <select class="form-control bg-dark text-primary" name="" id="" onChange="window.location.href=this.value">
	<option value="">Pick a Dataset</option>
	<option value="/{{ request.path.split('/')[-2]}}/requirements">requirements</option>
	<option value="/{{ request.path.split('/')[-2]}}/requirements_units">requirements_units</option>
	<option value="/{{ request.path.split('/')[-2]}}/requirements_weather">requirements_weather</option>
	<option value="/{{ request.path.split('/')[-2]}}/requirements_units_weather">requirements_units_weather</option>
</select>
</div>
<form action="{{request.url}}" role="form" method ="GET" class = 'bg-dark text-primary'>
 Start Date: <input id="start_date" name='start_date' type="date" value="{{start_date}}">
 End Date: <input id="end_date" name="end_date" type="date" value="{{end_date}}">

<button type="submit" class="btn btn-primary">GO</button>
</form>
</nav>
